<h1 class="page-header">Available equipment</h1>
<mat-grid-list cols="4" gutterSize="15" rowHeight="1:2">
    <mat-grid-tile [colspan]="1" *ngFor="let x of equipments">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{x.name}}</mat-card-title>
                <mat-card-subtitle>{{x.type}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="x.imageUrl">
            <mat-card-content>
                <mat-form-field appearance="legacy">
                    <mat-label>Days</mat-label>
                    <input matInput #days type="number" placeholder="Placeholder" required>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="addToCart(x, days.value)">Add to cart</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>